kortxyz-accordion {
	flex: 0 0 20px;
}

.accordion__input {
	display: none;
}

.accordion__label {
	color: var(--text-highlight);
	cursor: pointer;
	display: block;
	user-select: none;
	padding: 4px 0 4px 8px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion__label:hover {
	background: var(--app-highlight-color)
}

.accordion_content {
	display: none;
}

.accordion__input:checked ~ .accordion_content {
	display: flex;
	flex-direction: column;
}
