.search__input {
  white-space: nowrap;
  overflow: hidden;
  margin: 6px;
  padding:6px;
  background: grey;
} 
.search__input br {
  display:none;

}
.search__input * {
  display:inline;
  white-space:nowrap;
}

.search__result{
  background: var(--app-active-color);
  cursor: pointer;
  margin: 6px;
  padding: 0px 6px 6px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.8;
}

.search__result:hover{
  background:var(--footer-highlight);
  color:white;
}

.search__result sub{
  font-size: 8px;
}

.search__result b{
  font-size: 12px;
}

.search__result i{
  font-size: 10px;
}
