/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0px;
  padding: 0px;
}

spacer{
	height: 100%;
	width: 100%;
}

:root {
  --app-background-color: black;
  --app-level1-color: #353535;
  --app-level2-color:#262626;

  --app-active-color: #4682b4ff;
  --app-highlight-color: #353535;

  --text-color: #7f7f7f;
  --text-highlight: #dbdada;

  --footer: #2171b6;
  --footer-highlight: #437fb4;

}