  app-root {
    position: fixed;
    display: grid;
    width:100vw;
    background: var(--app-background-color);
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: calc(100% - 20px ) 20px ;
  }

  app-row{
    grid-column: span 2;
    display: flex;
    flex-direction: row;
  }
  
  * {
    font-family: monospace;
  }