kortxyz-addfiles{
    position: fixed;
    max-width: 600px;
    width: calc(90% - 20px);
    min-height: 20px; 
    background: black; 
    left: 50%;
    transform: translate(-50%, 0);
}

.addfiles__searchbar{
    height: 25px;
    background: white;
    display:flex;
}
.addfiles__searchfield{
    padding:5px;
    width:100%;
}
.addfiles__results{
    color:grey;
    cursor: pointer;
    padding: 4px;
}

.addfiles__results>div:hover{
    color:white
}

.addfiles__files{
    width:15px;
    height:15px;
    float:right;
    margin: 5px 5px 5px 0;
    fill:var(--text-color);
}

.addfiles__files:hover{
    cursor: pointer;
    fill:var(--text-highlight);
}