.config__container{
  height: 100%;
  min-width: 150px;
  display: flex;
}

resizer{
  height: calc(100% - 20px);
  position: absolute;
  width: 4px;
  z-index: 3;
  user-select: none;
  cursor: col-resize;
}

.config__input{
  display:none;
}

.config__tabs {
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  list-style: none; 
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  background:var(--app-level2-color);
}

.config__list{
  display: inline-block;
  user-select: none;
}

.config__label {
    display: block;
    padding: 5px 10px;
    width: 100px;
    color: var(--text-color);
    background: var(--app-level1-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
}
.config__label--text{
  overflow: hidden;
  text-overflow: ellipsis;
}

.config__label--close{
  opacity: 0.5;
}
.config__label--close:hover{
  opacity: 1;
  font-weight: bold;
}

.config__input:checked + label {
  background: var(--app-active-color);
  color: var(--text-highlight);
}

.config__input:checked ~ [class^=config__content] {
  display: block;
}

.config__content{
  z-index: 2;
  display: none;
  width: 100%;
  background: var(--app-level1-color);
  color: white;
  position: absolute;
  top: 25px;
  left: 0;
  height:calc(100% - 25px);
  white-space: normal;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
 
::-webkit-scrollbar-track {
  background: var(--app-level2-color);;
}
 
::-webkit-scrollbar-thumb {
  transition: 0.2s;
  background: var(--app-active-color); 
}

::-webkit-scrollbar-thumb:hover {
  background: white;
  cursor: pointer;
}