kortxyz-layers {
  display:flex;
  user-select: none;
}
kortxyz-layers:hover {
  background:var(--app-highlight-color);
}
kortxyz-layers > input {
	display: none;
}
  
kortxyz-layers > input + label{
  color: var(--text-color);
  cursor: pointer;
  padding-left: 12px;
  padding-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

kortxyz-layers > input:checked  + label{
	color: var(--text-highlight);
}

kortxyz-layers > div{
  opacity: 0;
  fill:var(--text-color);
  width: 15px;
  height: 15px;
  transition: 0s;
}

kortxyz-layers:hover > div{
  opacity: 1;
  transition:  0.2s;
}
kortxyz-layers > div:hover{
  fill:var(--text-highlight);
  cursor: pointer;
}