kortxyz-sideitem {
	display:flex;
	flex: 0 0 40px;
}

.sideitem__input{
	display: none;
	}
	
.sideitem__input:checked + .sideitem__label {
	background: var(--app-active-color);
	margin-right:200px;
	}

.sideitem__input:checked + .sideitem__label > svg {
	fill: var(--text-highlight);
}

.sideitem__input:checked ~ .sideitem__label ~ content {
	width: 200px;
	opacity: 1;
	z-index: 2;
}

.sideitem__label {
	color:var(--text-color); 
	cursor: pointer;
	user-select: none;
	width: 40px;
}

.sideitem__label > i {
	padding: 8px;
} 

.sideitem__label > i:hover {
	color: var(--text-highlight);
} 

.sideitem__label ~ content {
	background: var(--app-level2-color); 
	display: flex;
	flex-direction: column;
	width: 0;
	opacity: 0;
	position: fixed;
	left: 40px;
	height: calc(100% - 20px);
	top: 0;
}
.sideitem__header{
	display: flex;
	color: var(--text-color);
	font-size: 12px;
	margin: 6px 3px 6px 12px;
	font-weight: bold;
	cursor: default;
	user-select: none;
	text-transform: uppercase;
	flex: 0 0 12px;
}

.sideitem__header > p{
	margin:0;
}

toolbox > i{
	fill:var(--text-color);
	cursor: pointer;
	display: flex;
	transition: 20ms;
	opacity: 0;
}

.sideitem__header:hover > toolbox > i{
	opacity: 1;
}
toolbox > i:hover{
	fill:var(--text-highlight);
}

.sideitem__icon{
	padding: 10px;
	width: 20px;
	height: auto;
	fill: var(--text-color);
}

.sideitem__icon:hover{
	fill: var(--text-highlight);
}

