kortxyz-resizer{
  height: 100%;
  width: 0;
  cursor: col-resize;
  background: var(--app-level1-color);
}

kortxyz-resizer div{
  height: 100%;
  width: 100%;
}

kortxyz-resizer.active{
  flex: 0 0 4px;
}