kortxyz-backgrounds{
  position: fixed;
  bottom: 20px;
  right: 21px;
}

.background{
  cursor: pointer;
  color: var(--text-highlight);
  padding: 4px 5px 3px 5px;
  background: var(--footer);
  text-align: right;
  font-size: 11px;
}
.background:hover{
  background: var(--footer-highlight);
  color: white;
}