
.draw__layer{
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	margin: 6px;
	padding:6px;
	background: grey;
	width: calc(100% - 12px);
	border: none;
	cursor: pointer;
}


@import '../../../node_modules/@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
