kortxyz-configlayer{
  display: block;
  height: calc(100% - 20px);
  background: var(--app-level1-color);
  color:var(--text-color);
  padding:10px;
}

kortxyz-configlayer * {
  width: 100%;
  resize: none;
}